<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="http://localhost:3000/<%= user.user_id %>?_method=PATCH" method="post">
        Enter name : <input type="text" name ="name"><br>
        Enter email : <input type="text" name ="email"><br>
        Enter password : <input type="text" name ="password"><br>
        <button type="submit"> submit</button>
    </form>

</body>
</html>